.header {
    // Header Top
    &.fixed-header{
        width: 100%;
        position: fixed;
        left: 0;
        top: 0;
        z-index: 9999;
    }
    &--top {
        background-color: $white-blue;
        padding: 3px 0;
        // Left
        &__left {
            ul {
                li {
                    display: inline-block;
                    position: relative;
                    &::after {
                        content: "";
                        width: 1px;
                        height: 10px;
                        background-color: $gray-600;
                        display: block;
                        position: absolute;
                        right: 5px;
                        top: 6px;
                    }
                    &:last-child {
                        &::after {
                            display: none;
                        }
                    }
                    a {
                        margin-right: 15px;
                        font-size: 12px;
                        color: $gray-600;
                        &:hover {
                            color: $primary;
                        }
                        i {
                            margin-right: 5px;
                        }
                        img {
                            border: 1px solid #107517;
                            padding: 2px;
                            border-radius: 3px;
                        }
                    }
                }
            }
        }
        // Right
        &__right {
            display: flex;
            justify-content: flex-end;
            align-items: center;
            .merchnat-btn {
                margin-right: auto;
                .btn {
                    font-size: 12px;
                    text-transform: uppercase;
                    font-weight: $font-400;
                    padding: 2px 10px;
                    background: $light-blue;
                    color: $white;
                    border-color: $light-blue;
                    &:hover {
                        background-color: $primary;
                        border-color: $primary;
                        color: $white;
                    }
                }
            }
            .ship-to {
                position: relative;
                &::after {
                    content: "";
                    width: 1px;
                    height: 12px;
                    background-color: #6c757d;
                    display: block;
                    position: absolute;
                    right: -12px;
                    top: 2px;
                }
                .btn {
                    display: flex;
                    align-items: center;
                    padding: 0;
                }
                i {
                    margin-right: 10px;
                    font-size: 16px;
                }
                h3 {
                    font-size: 14px;
                    text-transform: uppercase;
                    font-weight: $font-600;
                    margin-bottom: 0;
                }
            }
            .google-playstore {
                margin-left: 15px;

                .btn {
                    padding: 0;
                    margin-left: 5px;
                }
            }
        }
    }

    // Header Main
    &--main {
        background-color: $white;
        box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
        padding: 20px 0 0 0;

        // Logo & Categories
        &__logo {
            display: flex;
            align-items: center;
            h1 {
                font-size: 24px;
                text-transform: uppercase;
                font-weight: $font-700;
                margin-bottom: 0;
                a {
                    margin-right: 20px;
                    color: $black;
                    display: block;
                    &.logo {
                        width: 80px;
                        img {
                            width: 100%;
                        }
                    }
                }
            }
        }
        // main-categories

        // Header
        &__search {
            form {
                display: flex;
                align-items: center;
                border-radius: 5px;
                border: 2px solid transparent;
                &.add-border {
                    border-color: $yellow;
                }
                .search-dropdown {
                    .btn {
                        background-color: $gray-200;
                        display: flex;
                        align-items: center;
                        font-size: 13px;
                        height: 40px;
                        border-width: 1px 0 1px 1px;
                        border-style: solid;
                        border-color: #ddd;
                        color: $gray-500;
                        border-radius: 3px 0 0 3px;
                        white-space: nowrap;
                        i {
                            margin-left: 5px;
                        }
                    }
                    position: relative;
                    .scrollable-dropdown {
                        position: absolute;
                        left: 0;
                        top: 40px;
                        z-index: 9999;
                        background-color: #fff;
                        width: 200px;
                        border: 1px solid #ddd;
                        display: none;
                        max-height: 350px;
                        overflow: auto;
                        padding: 10px;
                        a {
                            color: $black;
                            font-size: 13px;
                        }
                        &.show {
                            display: block;
                        }
                    }
                    .nav-search-dropdown {
                        position: absolute;
                        left: 0;
                        top: 40px;
                        z-index: 9999;
                        display: none;
                    }
                }
                .search-box {
                    display: flex;
                    align-items: center;
                    width: 90%;
                    .form-control {
                        font-weight: $font-400;
                        font-size: 14px;
                        font-family: $font-family;
                        height: 40px;
                        border-radius: 0;
                        border-width: 1px 0 1px 0;
                    }
                }
                .search-btn {
                    .btn {
                        text-transform: uppercase;
                        font-size: 16px;
                        font-weight: $font-500;
                        height: 40px;
                        border-radius: 0 3px 3px 0;
                        &.btn-primary {
                            color: $white;
                        }
                    }
                }
            }
        }

        // __shop-info
        &__shop-info {
            display: flex;
            justify-content: flex-end;
            align-items: center;
            .btn {
                padding-top: 0;
                padding-bottom: 0;
                span {
                    display: block;
                    font-size: 12px;
                }
                &:hover {
                    color: $primary;
                }

                &.btn-wholesale {
                    text-transform: uppercase;
                    font-size: 14px;
                    font-weight: $font-500;
                    height: 42px;
                    background-color: $dark-blue;
                    color: $white;
                    &:hover {
                        color: $white;
                        background-color: darken($dark-blue, 20%);
                    }
                }

               
            }
            .btn-login{
                position: relative;

                .login_dropdown{
                    position: absolute;
                    left: 50%;
                    top: 45px;
                    margin-left: -100px;
                    z-index: 9999;
                    background-color: $white;
                    width: 200px;
                    @include box-shadow;
                    border-radius: 5px;
                    display: none;

                    .btn-yellow{
                        width: 80%;
                        text-transform: uppercase;
                        color: $white;
                        background: $orange;
                        margin: 20px 10%;
                        @include box-shadow;
                        font-size: 14px;
                        font-weight: $font-500;
                        height: 40px;
                    }
                    .create_account{
                        border-top: 2px solid #ddd;
                        border-bottom: 2px solid #ddd;
                        text-transform: uppercase;
                        position: relative;
                        span{
                            display: block;
                            width: 30px;
                            height: 30px;
                            position: absolute;
                            left: 50%;
                            margin-left: -15px;
                            top: -15px;
                            font-size: 14px;
                            font-weight: $font-500;
                            opacity: 0.8;
                            text-align: center;
                        }
                        &::before{
                            content: '';
                            width: 30px;
                            height: 2px;
                            background-color: #fff;
                            position: absolute;
                            left: 50%;
                            top: -2px;
                            margin-left: -15px;
                        }
                        .btn{
                            text-transform: uppercase;
                            font-size: 14px;
                            font-weight: $font-500;
                            padding: 15px;
                            width: 100%;
                            text-align: center;
                        }
                    }

                    ul{
                        li{
                            display: block;
                            a{
                                display: block;
                                color: $black;
                                padding: 10px 15px;
                                font-size: 14px;
                                font-weight: $font-500;
                                &:hover{
                                    background-color: $gray-100;
                                }
                                i{
                                    margin-right: 5px;
                                }
                            }
                        }
                    }
                }
                &:hover{
                    .login_dropdown{
                        display: block;
                    }
                }
            }
        }

        .main_nav {
            display: block;

            .main-ul {
                position: relative;
                > li {
                    display: inline-block;
                    margin-right: 20px;
                    &:first-child {
                        > a {
                            color: $yellow;
                            font-weight: $font-700;
                        }
                    }
                    &:hover {
                        .mega_menu {
                            display: block;
                        }
                        .mega_menu_cat{
                            display: flex;
                        }
                    }
                    > a {
                        display: block;
                        color: $black;
                        padding: 20px 0;
                    }

                    .mega_menu {
                        position: absolute;
                        left: 0;
                        top: 100%;
                        background-color: $white;
                        width: 100%;
                        height: 70vh;
                        z-index: 9999;
                        box-shadow: 0 3px 3px rgba(0, 0, 0, 0.16);
                        display: none;
                        border-radius: 0 0 5px 5px;
                        &--inner {
                            padding: 30px;
                        }
                        &--card {
                            margin-bottom: 20px;
                            h3 {
                                font-size: 14px;
                                line-height: 1.2;
                                margin-bottom: 0px;
                                opacity: 0.8;
                            }
                            ul {
                                li {
                                    display: block;
                                    a {
                                        display: block;
                                        font-size: 13px;
                                        color: $black;
                                        opacity: 0.8;
                                        &:hover {
                                            opacity: 1;
                                        }
                                    }
                                }
                            }
                        }
                        &--flex{
                            display: flex;
                        }
                       
                    }
                    .mega_menu_cat {
                        position: absolute;
                        left: 0;
                        top: 100%;
                        background-color: $white;
                        width: 100%;
                        height: 70vh;
                        z-index: 9999;
                        box-shadow: 0 3px 3px rgba(0, 0, 0, 0.16);
                        display: flex;
                        border-radius: 0 0 5px 5px;
                        .main_cat-ul {
                            height: 70vh;
                            background-color: $gray-100;
                            width: 250px;
                            overflow: auto;
                            position: relative;

                            > li {
                                > a {
                                    display: block;
                                    color: $black;
                                    padding:5px 10px;
                                    opacity: 0.8;
                                    font-size: 13px;
                                    line-height: 1.2;
                                    &:hover{
                                        background-color: $gray-200;
                                        font-weight: $font-500;
                                        opacity: 1;
                                    }
                                }
                            }
                           
                        }
                        .cat_sub_menu_all{
                            [class*="nav-"]{
                                display: none;
                            }
                        }
                    }
                }
            }
        }
    }
}
