.banner_official {
    a {
        display: block;
        background-color: $gray-300;
        border: 5px solid $white;
        border-radius: 5px;
        overflow: hidden;
    }
    img {
        width: 100%;
        transition: transform 0.2s ease-in-out 0s;
    }
    &:hover{
        img{
            transform: scale3d(1.01, 1.01, 1.01);
        }
    }

}
