.owl-scrollbar {
    border-radius: 10px;
    height: 8px;
    width: 100%;
    background: $gray-300;
    position: absolute;
    left: 0;
    bottom: 3px;
    z-index: 9999;
    .owl-scroll-handle {
        height: 8px;
        width: 15px;
        display: inline-block;
        background: $gray-700;
        position: absolute;
        top: 0px;
        left: -1px;
        border-radius: 5px;
        &:hover {
            transition: transform .2s ease-in-out;
        }
        
    }
}


