.popular_cat {
    
    .popular_cat--items{
        background-color: $white;
        border-radius: 5px;
        overflow: hidden;
        padding: 15px 10px 0 10px;
    }
    .popular_cat-item {
        display: block;
        background-color: $gray-300;
        width: 133px;
        height: 133px;
        border-radius: 50%;
        overflow: hidden;
        border: 3px solid $gray-200;
        margin-bottom: 1.2rem;
        transition: border-color 0.3s ease-in;
        &:hover {
            border-color: $primary;
        }

        img {
            object-fit: cover;
            width: 100%;
            height: 100%;
            object-position: center;
        }
    }
    .owl-theme {
        .owl-dots {
            margin-top: 0;
            position: absolute;
            left: 0;
            bottom: 15px;
            width: 100%;
            height: 5px;
            border-radius: 5px;
            z-index: 999;
            .owl-dot {
                span {
                    margin: 0;
                    background-color: $gray-200;
                    width: 100%;
                    height:5px;
                }
                &.active {
                    span {
                        background: $primary;
                    }
                }
                &:hover {
                    span {
                        background: $primary;
                    }
                }
            }
        }
        .owl-nav {
            position: absolute;
            top: 35%;
            left: 0;
            display: flex;
            justify-content: space-between;
            width: 100%;
            [class*="owl-"] {
                color: $gray-400;
                font-size: 50px;
                &:hover {
                    background-color: transparent;
                    color: $primary;
                }
            }
            .owl-prev{
                margin-left: -10px;
            }
            .owl-next{
                margin-right: -10px;
            }
        }
    }
}
